// Text color:
$cl-primary: #1c1d1f;
$cl-secondary: #6a6f73;
$cl-white-1: #ffffff;
$cl-grey-1: #3d3c0a;
$cl-grey-2: #3e4143;
$cl-purple-1: #a435f0;
$cl-purple-2: #5624d0;
$cl-purple-3: #cec0fc;
$cl-yellow-1: #b4690e;
$cl-yellow-2: #e5981a;
$cl-green-1: #407970;
$cl-orange-1:#f3ca8c;
// Background Color:
$bg-black-1: #1c1d1f;
$bg-grey-1: #f7f9fa;
$bg-grey-2: #393b3f;
$bg-grey-3: #6a6f73;
$bg-grey-4: #6a6f738e;
$bg-white-1: #ffffff;
$bg-purple-1: #a435f0;
$bg-purple-2: #6c00b4;
$bg-yellow-1: #eceb98;
$bg-orange-1:#f3ca8c;