@import "../../styles/const.scss";
@import "../../styles/mixin.scss";
.desktop-header {
  box-shadow: 0 4px 2px 0 #ddd;
  position: relative;
  background-color: #fff;
  z-index: 100;
  .container {
    max-width: 1500px;
    height: 60px;
  }
  .nav-bar {
    .header__logo {
      transition: 0.3s;
      &:hover {
        transform: scale(1.05);
      }
    }
    .header__searh-input {
      color: $cl-primary;
    }
    .header__nav {
      .header-nav__menus {
        li.nav-lever-1 {
          padding: 8px 4px;
          margin: 0 4px;
          color: $cl-primary;
          transition: 0.3s;
          .nav-lever-2 {
            transition: 0.3s;
            visibility: hidden;
            opacity: 0;
            padding: 8px;
            border-radius: 4px;
            background-color: #fff;
            border: 1px solid #ddd;
            .nav-lever-2__item {
              transition: 0.3s;
              color: $cl-primary;
              font-weight: 500;
              width: 200px;
              a {
                line-height: 1;
                font-size: 14px;
                padding: 8px 4px;
                display: block;
              }
              &:last-child {
                margin-bottom: 0;
              }
              &:hover {
                color: $cl-purple-2;
              }
            }
          }
          &:hover {
            color: $cl-purple-2;
            text-decoration: underline;
            text-underline-offset: 3px;
            .nav-lever-2 {
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }
      .header-nav__actions.avatar {
        .profile {
          .avatar__action {
            transition: 0.5s;
            opacity: 0;
            visibility: hidden;
            background-color: $cl-white-1;
            width: 100px;
            right: 0;
            border-radius: 8px;
            border: 0.5px solid #ddd;
            padding: 4px;
            &::after {
              position: absolute;
              content: "";
              width: 14px;
              height: 14px;
              top: -14px;
              right: 12px;
              border-bottom: 6px solid #fff;
              border-left: 6px solid transparent;
              border-right: 6px solid transparent;
            }
            &::before {
              position: absolute;
              content: "";
              top: -10px;
              height: 10px;
              left: 0;
              right: 0;
            }
            ul li {
              margin: 4px 0;
              text-align: end;
              font-size: 12px;
              transition: 0.3s;
              padding-right: 4px;
              font-weight: 600;
              position: relative;
              &::after {
                position: absolute;
                content: "";
                width: 0;
                left: 0;
                bottom: 1px;
                height: 1px;
                background-color: $cl-purple-3;
                transition-duration: .3s;
              }
              &:hover {
                color: $cl-purple-2;
                &::after {
                  width: 100%;
                }
              }
            }
          }
          &:hover {
            .avatar__action {
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }
      .header-nav__actions.actions{
        .login-btn {
          background-color: $cl-purple-3;
          color: $cl-primary;
          font-size: 14px;
          padding: 4px 8px;
          font-weight: 600;
          border-radius: 4px;
          // margin-left: .5rem;
          transition: .3s;
          &:hover {
            background-color: $cl-purple-1;
            color: $cl-white-1;
          }
        }
      }
    }
  }
}
