@import "../../../../styles/const.scss";
@import "../../../../styles/mixin.scss";
.topics {
  background-color: $bg-grey-1;
  padding: 40px 0;
  .section-title {
    h3 {
      @include title-normal();
      padding-bottom: 1.5rem;
    }
  }
  .topic__lists {
    .lists__col {
      .col__items {
        .item {
          a {
            color: $cl-purple-2;
          }
        }
      }
    }
  }
  .loadmore {
    button {
      @include btnStyle($bg-grey-1, $cl-primary, $cl-primary);
      height: 2.5rem;
      width: 8rem;
      &:hover {
        text-decoration: underline;
        transform: scaleX(1.05);
      }
    }
  }
}
